<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!DOCTYPE html>
<html lang="en">

	<title>LogisInsure</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<head>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css"/> -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	 -->
		<!-- <link rel="icon" href="images/icon.png" type="image/x-icon" /> -->
	    <!-- <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> -->
	</head>
	<body>
	    <div class="container-fluid">
		    <div class="container">
			    <h2 class="text-center" id="title">LogisInsure</h2>
			 
 			    <hr>
			    <div class="row">
				    <div class="col-md-5">
 					    
							{% block content %}
							
							{% endblock %}
					    
				    </div>     
			    </div>
		    </div>
	    </div>
	</body>
</html>