{% extends "add.html" %}
{% block content %}
<form method="POST"  enctype="multipart/form-data">
	{% csrf_token %}
<fieldset>
	<p class="text-uppercase pull-center"> Add New Product</p>
	 <div class="form-group">
		<select name="catagory_id">
			{% for catagory in catagories %}
			<option value="{{catagory.id}}"  >{{catagory.name}}</option>
			{% endfor %}
		</select>
	 </div>
	<div class="form-group">
		<input type="text" name="title" id="title" class="form-control input-lg" required="required" placeholder="title">
	</div>

	<div class="form-group">
		<input type="text" name="description" id="description" class="form-control input-lg" required="required" placeholder="description">
	</div>
	<div class="form-group">
		<input type="number" name="price" id="price" class="form-control input-lg" required="required" placeholder="price">
	</div>
	<div class="form-group">
		<input type="number" name="quantity" id="quantity" class="form-control input-lg" required="required" placeholder="quantity">
	</div>
	<div class="form-group">
		<input type="file" name="image" id="image" class="form-control input-lg" required="required" placeholder="">
		<textarea name="pro_img" id="pro_img" style="display: none;"></textarea>
	</div>
	<div>
	<img style="height: 100px; width: 100px;" id="crop_image">
	</div>	
		<input type="submit" class="btn btn-lg btn-primary   value=" Add">
	</div>
</fieldset>

</form>
<div>
	
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Crop Image</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<canvas id="canvas">
				</canvas>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btnCrop" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
</div>
<div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.js"></script>
	<script>
	var canvas = $("#canvas"),
        context = canvas.get(0).getContext("2d")

        $("#image").on("change", function () {
          if (this.files && this.files[0]) {
            if (this.files[0].type.match(/^image\//)) {
            
              $("#exampleModalCenter").modal("show");
              var reader = new FileReader();
              reader.onload = function (evt) {
                var img = new Image();
                img.onload = function () {
                  context.canvas.width = img.width;
                  context.canvas.height = img.height;
                  context.drawImage(img, 0, 0);
                  console.log(img.height);
                  console.log(img.width);
                  var cropper = canvas.cropper({
                    aspectRatio: 16 / 9,
                  });
                  $("#btnCrop").click(function () {
                    // Get a string base 64 data url
                    var croppedImageDataURL = canvas
                      .cropper("getCroppedCanvas")
                      .toDataURL("image/jpg");

                      $('#pro_img').val(croppedImageDataURL)
                      $('#crop_image').attr("src", croppedImageDataURL)


                    $("#exampleModalCenter").modal("hide");
                  });
                };
                img.src = evt.target.result;
              };
              reader.readAsDataURL(this.files[0]);
            } else {
              alert("Invalid file type! Please select an image file.");
            }
          } else {
            alert("No file(s) selected.");
          }
        });
        // convert base 64 to file
        function dataURLtoFile(dataurl, filename) {

          var arr = dataurl.split(','),
              mime = arr[0].match(/:(.*?);/)[1],
              bstr = atob(arr[1]),
              n = bstr.length,
              u8arr = new Uint8Array(n);

          while(n--){
              u8arr[n] = bstr.charCodeAt(n);
          }

          return new File([u8arr], filename, {type:mime});
        }
    // function viewImage(event){
    //     document.getElementById('imageview').src = URL.createObjectURL(event.target.files[0])
    // }
</script>
{% endblock %}