{% extends "adminpage.html"%}
{% block produts %}
                <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">
                    <a href="{% url 'add_product' %}" style="padding:0%;color:black;align-content: center;">Add New
                        product</a>
                </button>
                {% endblock %}

{% block content %}

<div class="jumbotron col-lg-9 col-md-6 col-sm-3" >
      <h2 style="text-align: center;">PRODUCTS</h2>
      <table id="myTable" style="max-width:80vmax" class="table table-striped table-dark">
            <thead>
                  <tr>
                  <!-- <th scope="col">Vendor</th> -->
                        <th scope="col">vendor</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                  </tr>
            </thead>

            {% for product in products %}
            <tr>
                  <td>{{product.vendor.username}}</td>
                  <td>{{product.title}}</td>
                  <td ><img style="height: 100px; width: 100px;" src="{{product.ImageURL}}"> </td>
                  <td>{{product.description}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td><a href="/edit_product/{{ product.id}}"><button class="btn btn-success btn-lg btn-block"
                              style="width: auto;">Edit</button></a></td>
                  <td><a href="/delete_product/{{product.id}}"><button onclick="return confirm(' Are you sure to delete' ) "
                              class="btn btn-danger btn-lg btn-block" style="width: auto;">Delete</button></a></td>
            </tr>

      {% endfor %}
      </table>
      </div>
{% endblock%}