{% extends "add.html" %}
{% block content %}
<form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
	{% csrf_token %}
<fieldset>
	<p class="text-uppercase pull-center"> Add New Product</p>
	<div class="form-group">
		<select name="vendor_id">
			{% for vendor in user %}
			<option value="{{vendor.id}}"  >{{vendor.username}}</option>
			{% endfor %}
		</select>

	</div>
	<div class="form-group">
		<input type="text" name="title" id="title" class="form-control input-lg" placeholder="title" required="required"
	</div>

	<div class="form-group">
		<input type="text" name="description" id="description" class="form-control input-lg" required="required" placeholder="description">
	</div>
	<div class="form-group">
		<input type="number" name="price" id="price" class="form-control input-lg" required="required" placeholder="price">
	</div>
	<div class="form-group">
		<input type="number" name="quantity" id="quantity" class="form-control input-lg"  required="required" placeholder="quantity">
	</div>
	<div class="form-group">
		<input type="file" name="image" id="image" class="form-control input-lg" required="required" placeholder="">
	</div>
	<div>
		<input type="submit" class="btn btn-lg btn-primary   value=" Add">
	</div>
</fieldset>
</form>
{% endblock %}