<!DOCTYPE html>
<html lang="en">

<head>
  <title>MP's Ecommerce</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.3/cropper.css"/>  
  <link rel="icon" href="images/icon.png" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MPs.com</a>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'order_history' %}">Order</a></li>
        
        <a class="dropdown-toggle" style="float: right;margin-top: 1.5rem;color: whitesmoke;" data-toggle="dropdown" href="#">Catagories
          <span class="caret"></span></a>
          <ul class="dropdown-menu"    style="margin-left: 23rem;" >
            
            <li><a class="dropdown-item" href="{% url 'home' %}">
              <p>All items</p>
          </a></li>
            {% for catagory in catagories %}
              <li><a class="dropdown-item" href="{% url 'catagory_items' catagory.id %}">
                  <p>{{catagory.name}}</p>
              </a></li>
            {% endfor %}
            
          </ul>
      </ul>
      {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right float-right">
            <li class="form-inline my-2 my-lg-0" style="padding: .25rem .5rem;
              font-size: .875rem;line-height: 1.5;border-radius: .2rem;">
              <a class="btn btn-success btn-sm ml-3" href="{% url 'show_cart' %}">
                <span class="glyphicon glyphicon-shopping-cart" style="color: whitesmoke;"></span>
                <span class="badge badge-light">{{count}}</span>
              </a>
            </li>
          <li><a href="{% url 'user_profile' %}"><span class="glyphicon glyphicon-user"></span>{{request.user.username}}</a></li>
          <li><a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-"></span>Logout</a></li>
        </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'user_signup' %}" class="glyphicon glyphicon-user"> SignUp</a></li>
            <li><a href="{% url 'user_login' %}" class="glyphicon glyphicon-log-in"> Login</a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">

    {% block page %}

    {% endblock %}
  </div>

</body>

</html>