{% extends "add.html" %}

{% block content %}
<form method="POST" action="{% url 'send_otp' %}">
	{% csrf_token %}
	<fieldset>
		{% block user %}

		{% endblock %}
		<div class="form-group">
			<input type="text" name="mobile" id="mobile" class="form-control input-lg" placeholder="enter mobile number">
		</div>
		{% for message in messages %}
		<h5 style="color: red;">{{message}}</h5>
		{% endfor %}
		
		
		<div>
			<input type="submit" class="btn btn-md" value="Get OTP">
		</div>
		{% block user_signup %}
		<!-- <div class="text-center">
		<a class='nav-link' href="{% url 'user_signup' %}">
			Don't have an account
		</a>
	</div> -->
		{% endblock %}
		<div class="text-center">
			<a class='nav-link' href="{% url 'user_login' %}">
				Already have an account
			</a>
		</div>
	</fieldset>
</form>

{% endblock %}