{% extends "loggedin_head.html" %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
{% block page %}
<style>
    .bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}
</style>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
        <p>{{message}}</p>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> Image</th>
                            <th scope="col">Product</th>
                            <!-- <th scope="col">Available</th> -->
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Unit Price</th>
                            <th scope="col" class="text-right">Total</th>
                            <th scope="col" class="text-right">Delete</th>

                            <!-- <th scope="col" class="text-right">Ordered</th>
                            <th scope="col" class="text-right">Delivered</th> -->

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        
                        <tr>
                            <td><img src="{{ item.product.ImageURL}}"class="img-responsive" style="height: 7rem;" /> </td>
                            <td>{{item.product.title}}</td>
                            <!-- <td class="text-right">In stock</td> -->
                            
                            <td style="text-align: center;"><a href="{% url 'remove_one_quantity' item.product.id %}"><span class="glyphicon glyphicon-minus"></span></a>
                                {{item.quantity}}
                                <a href="{% url 'add_one_quantity' item.product.id %}">
                                    <span class="glyphicon glyphicon-plus"></span></a></td>
                                
                            <!-- <td><input class="form-control" type="text" value="1" /></td> -->
                            <td class="text-right">
                                {{item.product.price}}</td>
                            <td class="text-right">{{item.price}}</td>
                           
                            <td ><a href="{% url 'delete_cart_item' item.product.id %}"><button onclick="return confirm('Are you sure to remove')"
                                class="btn btn-outline-danger  btn-block"  style="width: auto;float:right;">DELETE</button>
                             </a> </td>
                           

                            <!-- <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td> -->
                        </tr>
                    
                        {% endfor %}
                    
                        <!-- <h2>{{message}}</h2> -->
                    </tbody>
                    <tr>
                        <td colspan="4"><h3>Total</h3></td>
                        <td style="text-align: right;" >{{total}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="{% url 'home' %}" class="btn btn-block btn-light">Continue Shopping
                    </a></div>
                    
                <div class="col-sm-12 col-md-6 text-right">
                   <a href="{% url 'confirm_purchase' %}" class="btn btn-lg btn-block btn-success text-uppercase">Checkout
                   </a></div>
            </div>
                
        </div>
    </div>
</div>

{% endblock %}